
<form action="" class="currency-input" [formGroup]="currencyConventerForm">
  <input type="text" [value]="amount1" #i1 formControlName="amount1" (input)="onChange(+(i1.value), s1.value)" (blur)="touched()"/>
    <select  formControlName="currency1" #s1 [value]="currency1" (input)="onChange(+(i1.value), s1.value)" (blur)="touched()" >
      <option value="USD">USD</option>
      <option value="UAH">UAH</option>
      <option value="EUR">EUR</option>
    </select>
  <input type="text" [value]="amount2" #i2 formControlName="amount2" (input)="onChange2(+(i2.value), s2.value)" (blur)="touched()" />
    <select formControlName="currency2" #s2 [value]="currency2" (input)="onChange2(+(i2.value), s2.value)" (blur)="touched()">
      <option value="USD">USD</option>
      <option value="UAH">UAH</option>
      <option value="EUR">EUR</option>
    </select>
</form>